<div class="row">
  <div class="col-12">
    <form>
      <div class="mb-2">
        <label for="startDate" class="form-label">Start Date</label>
        <input type="date" class="form-control" id="startDate">
      </div>
      <div class="mb-2">
        <label for="endDate" class="form-label">End Date</label>
        <input type="date" class="form-control" id="endDate">
      </div>
      <div class="mb-2">
        <label for="deposit" class="form-label">Deposit</label>
        <input type="number" class="form-control" id="deposit">
      </div>
      <div class="mb-2">
        <label for="employee" class="form-label">Employee</label><br>
        <input type="number" class="form-control" id="employee">
      </div>
      <div class="mb-2">
        <label for="customer" class="form-label">Customer</label><br>
        <input type="number" class="form-control" id="customer">
      </div>
      <div class="mb-2">
        <label for="service" class="form-label">Service</label><br>
        <input type="number" class="form-control" id="service">
      </div>
      <button type="submit" class="btn btn-primary">Create</button>
    </form>
  </div>
</div>
