<div class="row">
  <div class="col-12">
    <form  >
      <div class="mb-2">
        <label for="contractId"  class="form-label">Contract ID</label><br>
        <input type="number" class="form-control" id="contractId"  >
      </div>
      <div class="mb-2">
        <label for="attachService"  class="form-label">Attach Service ID</label><br>
        <input type="number" class="form-control" id="attachService"  >
      </div>
      <div class="mb-2">
        <label for="quantity" class="form-label">Quantity</label>
        <input type="number" class="form-control" id="quantity"  >
      </div>
      <button type="submit" class="btn btn-primary">Create</button>
    </form>
  </div>
</div>
