<div class="row">
  <div class="col-4"></div>
  <div class="col-4">
    <form  >
      <div class="mb-2">
        <label for="name" class="form-label">Service Name</label>
        <input type="text" class="form-control" id="name" >
      </div>
      <div class="mb-2">
        <label for="area" class="form-label">Area</label>
        <input type="number" class="form-control" id="area" >
      </div>
      <div class="mb-2">
        <label for="cost" class="form-label">Cost</label>
        <input type="number" class="form-control" id="cost"  >
      </div>
      <div class="mb-2">
        <label for="maxPeople" class="form-label">Number or Max People</label>
        <input type="number" class="form-control" id="maxPeople"  >
      </div>
      <div class="mb-2">
        <label for="rentType"  class="form-label">Rent Type</label><br>
        <input type="number" class="form-control" id="rentType"  >
      </div>
      <div class="mb-2">
        <label for="serviceType" class="form-label">Service Type</label><br>
        <input type="number" class="form-control" id="serviceType"  >
      </div>
      <div class="mb-2">
        <label for="roomStandard" class="form-label">Room Standard</label>
        <input type="text" class="form-control" id="roomStandard" >
      </div>
      <div class="mb-2">
        <label for="convenient" class="form-label">Decription Other Convenient</label>
        <input type="text" class="form-control" id="convenient"  >
      </div>
      <div class="mb-2">
        <label for="poolArea" class="form-label">Pool Area</label>
        <input type="text" class="form-control" id="poolArea"  >
      </div>
      <div class="mb-2">
        <label for="numberOfFloor" class="form-label">Number of Floors</label>
        <input type="text" class="form-control" id="numberOfFloor"  >
      </div>
      <button type="submit" class="btn btn-primary">Create</button>
    </form>
  </div>
  <div class="col-4"></div>
</div>
