<!--<app-list-students></app-list-students>-->
<!--<app-customer></app-customer>-->
<!--<div *ngFor="let item of arr;let i=index">-->
<!--  {{i}}<h2>{{item}}</h2>-->
<!--</div>-->


<!--<div class='card'>-->
<!--  <div class='card-header'>-->
<!--    ngSwitch Example-->
<!--  </div>-->
<!--  <div class="card-body">-->
<!--    Input string : <input type='text' [(ngModel)]="num" />-->

<!--    <div [ngSwitch]="num">-->
<!--      <div *ngSwitchCase="'1'">One</div>-->
<!--      <div *ngSwitchCase="'2'">Two</div>-->
<!--      <div *ngSwitchCase="'3'">Three</div>-->
<!--      <div *ngSwitchCase="'4'">Four</div>-->
<!--      <div *ngSwitchCase="'5'">Five</div>-->
<!--      <div *ngSwitchDefault>This is Default</div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
<!--<app-test-customer-directive></app-test-customer-directive>-->

<!--sử dụng pipe date,upper case,lower case,title case-->
<!--<app-test-pipe></app-test-pipe>-->

<!--tự tạo custom pipe-->
<!--<app-test-custom-pipe></app-test-custom-pipe>-->
